# WARNING: Do not store any secrets (such as private API keys).
# Environment variables are embedded into the build.

# NODES
REACT_APP_LOCAL_NODE=
REACT_APP_FUJI_NODE=
REACT_APP_AVALANCHE_NODE=

# REGISTRY_ADDRESSES
REACT_APP_LOCAL_REGISTRY_ADDRESS=
REACT_APP_FUJI_REGISTRY_ADDRESS=
REACT_APP_AVALANCHE_REGISTRY_ADDRESS=
